<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Deleted user log!</h2>
        <h2>Current user log:</h2>
        <div class="scrollable-text">{{ r }}</div>
        <form action="/user_log" method="post">
            <input type="submit" value="User log">
        </form>
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>